@import "ext/fonts";
@import "ext/normalize";
@import "syntax";

$linkColor: #0a59b0;
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 220px;
$animationDuration: 0.4s;
$animationDelayIncrement: 0.2s;

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInIcon {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInTooltip {
  from {
    opacity: 0;
    transform: translateX(-50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: #000;
  transition: color 0.3s;

  &:hover {
    color: $linkColor;
  }
}

h2 {
  margin: 0.7em 0;

  @media screen and (max-width: $mobileW) {
    margin: 0.3em 0;
  }
}

main {
  margin: 0 90px;
  display: flex;
  height: 100%;

  @media screen and (min-width: $bigScreenW) {
    margin: 0 auto;
    max-width: 1440px;
  }

  @media screen and (max-width: 1280px) {
    margin: 0 75px;
  }

  @media screen and (max-width: 1024px) {
    margin: 0 35px;
  }

  @media screen and (max-width: $mobileW) {
    margin: 0 10px;
    flex-direction: column;
  }

  @media screen and (max-width: $smallMobileW) {
    margin: 0;
  }

  .content {
    @media screen and (min-width: $mobileW + 1) {
      max-width: calc(100% - #{$leftWidth});
      margin-left: $leftWidth;
      width: 100%;
    }
  }

  .about {
    display: flex;
    height: 100vh;
    padding-bottom: 15vh;

    @media screen and (max-width: $mobileW) {
      height: auto;
      padding: 5vh 30px;
    }

    @media screen and (max-width: $smallMobileW) {
      padding: 5vh 20px;
    }

    @media screen and (min-width: $mobileW + 1) {
      position: fixed;
      max-width: 280px;
    }

    min-width: $leftWidth;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 22px;
      margin-top: 25px;
      margin-bottom: 0;
      color: #222222;
      font-weight: normal;
    }

    .tagline {
      text-align: center;
      font-size: 22px;
      margin-top: 0px;
      color: #aaa;
      white-space: pre-wrap;
      line-height: normal;
    }

    img {
      max-width: 150px;
    }

    img.dark {
      display: none;
    }

    .about-header {
      display: flex;
      flex-direction: column;

      .about-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 17px;
      }
    }
  }
}

#title {
  a {
    text-decoration: none;
  }
}

.social {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
  animation: fadeInIcon $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement;

  a {
    margin-bottom: .5em;
  }

  li {
    i {
      color: #000 !important;
      font-size: 34px;

      &:hover {
        color: #000 !important;
      }
    }

    &:hover .social-tooltip {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s, visibility 0s;
      animation: fadeInTooltip $animationDuration ease-out forwards;
    }
  }
}

.social-tooltip {
  color: #ececec;
  position: absolute;
  top: -35px;
  left: 50%;
  background-color: #777;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s;
  pointer-events: none;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #777;
  }
}

.navigation {
  width: 80%;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;

    li:last-child {
      a {
        border-bottom: 0;
      }
    }

    a {
      display: block;
      text-align: center;
      padding: 1rem 0;
      text-decoration: none;
      border-bottom: 1px solid #ececec;

      @media screen and (max-width: $mobileW) {
        padding: 2rem 0;
      }
    }
  }
}

.dark-mode-toggle.no-transition + .slider,
.dark-mode-toggle.no-transition + .slider:before {
    -webkit-transition: none !important;
    transition: none !important;
}

.post {
  opacity: 0;
  animation: fadeInSlide $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px 0 0 0;
  padding-top: 10px;

  a {
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #eee; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      color: $linkColor;
    }
  }

  .next-post {
    color: #333;
    padding-left: 15px;
    font-size: 1em;
    opacity: 0;
    animation: fadeInSlide $animationDuration ease-out forwards;
    animation-delay: $animationDelayIncrement + $animationDuration;
  }

  .previous-post {
    color: #333;
    padding-right: 15px;
    font-size: 1em;
    opacity: 0;
    animation: fadeInSlide $animationDuration ease-out forwards;
    animation-delay: $animationDelayIncrement + $animationDuration;
  }

  .previous-post-placeholder {
    min-width: 120px;
  }

  .next-post-placeholder {
    min-width: 120px;
  }
}

.post-wrapper {
  border-bottom: 1px solid #ececec;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.post-categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: fadeInSlide $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration * 1.5;

  li {
    font-size: 14px;
    float: left;
    background-color: #e3e3e3;
    padding: 5px 20px;
    border-radius: 2px;

    @media screen and (max-width: $mobileW) {
      margin-top: 5px;
    }

    margin-right: 10px;
  }
}

.post-date {
  margin-right: 10px;
  color: #555;
  min-width: 150px;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  opacity: 0;
  animation: fadeInSlide $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;

  @media screen and (max-width: $mobileW) {
    flex-direction: column;
    align-items: baseline;

    .post-date {
      margin: 10px 0;
    }
  }
}

.icon-search {
  vertical-align: middle;

  &:hover {
    color: #222 !important;
  }
}

.icon-calendar,
.icon-category,
.icon-chart {
  color: #555;
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
  opacity: 0;
  animation: fadeInIcon $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration * 1.5;
}

.post-link {
  text-decoration: none;
  opacity: 0;
  animation: fadeInSlide $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;
  transition: color 0.3s;

  &:hover {
    color: $linkColor;
    text-decoration: none;
  }
}

.post-title {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  line-height: 1.3em;
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 15px;
}

.posts {
  list-style-type: none;
  margin: 10px 10px;
  padding-left: 100px;

  @media screen and (max-width: $smallMobileW) {
    padding: 10px;
    margin-top: 0;
  }

  @media screen and (max-width: $mobileW) {
    padding: 10px;
    margin-top: 0;
  }
}

.post-container {
  list-style-type: none;
  opacity: 0;
  animation: fadeInSlide $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;

  @media screen and (max-width: $smallMobileW) {
    padding: 0;
    margin-top: 0;
  }

  @media screen and (max-width: $mobileW) {
    padding: 0;
    margin-top: 0;
  }
}

#giscus-comments {
  margin-top: 40px; 
  margin-bottom: 40px;
}

.posts {
  .posts-labelgroup {
    opacity: 0;
    animation: fadeInSlide $animationDuration ease-out forwards;
    animation-delay: $animationDelayIncrement;
  }

  > li {
    opacity: 0;
    animation: fadeInSlide $animationDuration ease-out forwards;
    animation-delay: $animationDelayIncrement;
  }
}

.category-list-direct {
  .category-section {
    opacity: 0;
    animation: fadeInSlide $animationDuration ease-out forwards;
    animation-delay: $animationDelayIncrement + $animationDuration;
  }
}

.post {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  color: #222;
  line-height: 1.9em;
  padding: 20px 20px 20px 20px;
  transition: color 0.3s;
  background-color: #fff;
  border: 1px solid #eee; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  p {
    margin-top: 10px;
  }

  a {
    color: $linkColor;
    text-decoration: none;
    transition: border-bottom 0.4s;

    &:hover {
      border-bottom: 0.5px solid $linkColor;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Raleway, sans-serif;
  }
}

.posts-labelgroup {
  margin: 0 0 0.67em 0;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 10;
}

.search-container {
  position: relative; 
  z-index: 20; 
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #eee; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 30;
}

#posts-label {
  font-size: 15px;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 0;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  transition: width 0.1s;
}

table {
  th, td {
    padding: 8px 13px;
    border: 1px solid #dfe2e5;
  }
  th {
    background-color: #eee;
    font-family: Raleway;
  }
}

footer {
  display: none;
}

@media screen and (max-width: $mobileW) {
  .about {
    .about-header.condensed {
      align-items: start;
      align-self: start;

      .about-title {
        flex-direction: row;
        margin-bottom: 10px;

        img {
          max-height: 40px;
        }

        h2 {
          margin: 0 10px;
        }
      }

      .tagline {
        font-size: 18px;
        margin-bottom: 0px;
      }
    }

    .about-footer.condensed {
      display: none;
    }
  }

  footer.condensed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;

    @media screen and (max-width: $smallMobileW){
      margin: 0 20px;
    }

    border-top: 1px solid #eee;
  }
}

.category-header {
  background-color: #fff;
  border: 1px solid #eee; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0;
  animation: fadeInIcon $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;
}

.category-header.is-expanded .icon-right-arrow {
  transform: rotate(90deg);
}

.category-name {
  color: #000;
  font-weight: normal;
}

.category-count {
  color: #999;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

.icon-right-arrow {
  color: #555;
  font-size: 14px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.category-section {
  padding-bottom: 5px;
}

.category-post-separator {
  color: #555;
}

.post-hyperlinks {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;

  li {
    margin-left: 20px;
    margin-top: 5px;
  }

  a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s;

    &:hover {
      color: $linkColor;
    }
  }

  &.closed {
    max-height: 0;
  }
}

.archive-year {
  background-color: #fff;
  border: 1px solid #eee; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 17px;
  opacity: 0;
}

.archive-year-heading {
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 15px;
  opacity: 0;
  animation: fadeInIcon $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;
}

.archive-month-heading {
  color: #555;
  opacity: 0;
  animation: fadeInIcon $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;
}

.archive-month-count {
  color: #999;
}

.archive-post-detail-list {
  border-left: 1px solid #eee;
  padding-left: 0;
}

.archive-year,
.archive-month-list li,
.archive-post-detail-list li {
  list-style-type: none;
  opacity: 0;
  animation: fadeInSlide $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;
}

.archive-post-item {
  display: flex;
  align-items: baseline;
  list-style-type: none;
  padding-left: 5px;
  margin-bottom: 5px;
}

.archive-post-date {
  color: #555;
}

.archive-post-separator {
  color: #555;
  margin-right: 5px;
  visibility: inherit;
}

.archive-post-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $linkColor;
  }
}

.archive-date-group {
  width: 37px;
  flex-shrink: 0;
  text-align: right;
}

.archive-post-item.no-date .archive-date-group {
  visibility: hidden;
}

.github-stats-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  opacity: 0;
  animation: fadeInIcon $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;
}

.github-stat-item {
  max-height: 200;
  opacity: 0;
  animation: fadeInSlide $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;
}

.category-stats-container {
  max-width: 100%;
  margin-top: 20px;
  padding: 20px 20px 30px 20px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  opacity: 0;
  animation: fadeInSlide $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;
}

.latest-update-info {
  color: #999;
  font-size: 15px;
  font-weight: normal;
  text-align: right;
  position: absolute;
  bottom: 5px;
  right: 5px;
  
  .icon-sync {
    margin: 0;
  }
}

.category-stat-item {
  margin: 0;
}

.category-label-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  opacity: 0;
  animation: fadeInIcon $animationDuration ease-out forwards;
  animation-delay: $animationDelayIncrement + $animationDuration;
}

.category-stat-name {
  color: #999;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.category-stat-name::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 8px;
  background-color: var(--bar-color, #0a59b0);
  box-shadow: 0 0 0 2px rgba(var(--bar-color-rgb, 10, 89, 176), 0.3);
}

.category-info-right {
  display: flex;
  align-items: center;
}

.category-percentage {
  font-size: 0.9em;
  color: #999;
  white-space: nowrap;
}

.stat-bar-wrapper {
  margin-bottom: 15px;
  position: relative;

  &:hover .stat-bar-tooltip {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s, visibility 0s;
      animation: fadeInTooltip $animationDuration ease-out forwards;
    }
}

.stat-bar-tooltip {
  color: #ececec;
  position: absolute;
  top: -35px;
  left: 50%;
  background-color: #777;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s;
  pointer-events: none;
  
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #777;
  }
}

.stat-bar-background {
  background-color: #eee;
  height: 12px;
  border-radius: 0;
  overflow: hidden;
}

.stat-bar {
  height: 100%;
  transition: width 0.8s ease-out;
  border-radius: 0;
  width: 0;
}

.stat-axis-container {
  max-width: 100%;
  position: relative;
  height: 25px;
  margin-top: 5px;
}

.stat-axis-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.stat-axis-labels {
  color: #777;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 500;
}

.stat-axis-labels span {
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  
  &::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 5px;
    background-color: #ccc;
  }
  
  &:first-child { transform: translateX(0); left: 0 !important; } 
  &:last-child { transform: translateX(-100%); left: 100% !important; }
}