---
layout: default
---

<ul class="posts">
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">posts</h1>
    {% if site.plainwhite.search %}
    <div class="search-container">
      <div class="search-section">
        <i class="icon-search"></i>
        <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
      </div>
      <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
    </div>
    {% endif %}
  </li>
  <li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <div class="post-container">
      <a class="post-link" href="{{ page.url | relative_url }}">
        <h2 class="post-title">{{ page.title | escape }}</h2>
      </a>
      <div class="post-meta">
        <div class="post-date">
          <i class="icon-calendar"></i>
          {{ page.date | date: date_format }}
        </div>
        {%- if page.categories.size > 0 -%}
        <ul class="post-categories">
          {%- for tag in page.categories -%}
          <li>{{ tag }}</li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </div>
      <div class="post">
        {{ content }}
      </div>
      <div id="giscus-comments">
        <script>
          var userPrefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
          var themeCookie = getCookie('theme');
          var isDark = (themeCookie === null && userPrefersDark) || themeCookie === 'dark';
          var initialThemeUrl = isDark ? 'noborder_gray' : 'noborder_light';
          var script = document.createElement("script");
          script.src = "https://giscus.app/client.js";
          script.setAttribute('data-repo', "99blanc/99blanc.github.io");
          script.setAttribute('data-repo-id', "R_kgDOQHwlEw");
          script.setAttribute('data-category', "Announcements");
          script.setAttribute('data-category-id', "DIC_kwDOQHwlE84CxVaZ");
          script.setAttribute('data-mapping', "pathname");
          script.setAttribute('data-strict', "0");
          script.setAttribute('data-reactions-enabled', "0");
          script.setAttribute('data-emit-metadata', "0");
          script.setAttribute('data-input-position', "bottom");
          script.setAttribute('data-lang', "ko");
          script.setAttribute('data-theme', initialThemeUrl);
          script.setAttribute('crossorigin', "anonymous");
          script.setAttribute('async', "");
          document.getElementById('giscus-comments').appendChild(script);
          function setGiscusTheme(themeName) {
              var iframe = document.querySelector('iframe.giscus-frame');
              if (iframe) {
                  iframe.contentWindow.postMessage(
                      { giscus: { setConfig: { theme: themeName } } },
                      'https://giscus.app'
                  );
              }
          }
        </script>
      </div>
    </div>
  </ul>
</li>
